@import 'shared/all.scss';

.product {
  @apply bg-white p-6 rounded-xl;
  @include for-tablet {
    @apply flex;
  }

  @include for-bigPhone {
    @apply flex-col;
  }

  &ImgBlock {
    @apply relative;
    .emoji {
      @apply absolute bottom-1 z-0 left-0;
    }
  }
  &Img {
    @apply w-11/12 mx-auto z-0;
    @include for-tablet {
      @apply my-auto w-full;
    }  
  }

  &Title {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: $text;
  }

  &Weight {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FF6633;
    margin-top: 8px;
    margin-bottom: 6px;
  }

  &Consist {
    color: $subText;
    @apply mb-16;
    @include for-tablet {
      @apply mb-0;
    }  
  }

  .infoBlock {
    @apply flex flex-wrap gap-y-3 justify-between items-center;
    @include for-tablet {
      margin-top: auto;
    }

    $priceSize: calc(16px + 3vmin);
    $currencySize: calc($priceSize / 2);

    &Price {
      font-weight: 700;
      font-size: $priceSize;
      line-height: calc($priceSize - 8px);
      color: $text;
    }
    &Currency {
      font-weight: 700;
      font-size: $currencySize;
      line-height: calc($currencySize - 4px);
      color: #575758;
      margin-left: 10px;
    }
    &Buttons {
      @apply flex items-center justify-center gap-x-2;
    }
    &Like {
      @apply transition-all cursor-pointer;
    }
  }
}