@import 'shared/helpers/constants.scss';
@import 'shared/helpers/media.scss';

.rootLayout {
  @apply max-w-[100vw] relative overflow-hidden;
  margin-top: $headerHeight;
}

.content {
  @apply relative w-full flex transition-all;
  min-height: $contentHeight;
}

.footer {
  @apply text-center p-0 flex items-center justify-center;
  min-height: $footerHeight;
}