@import 'shared/all.scss';

.container {
  @apply bg-white px-4 py-5 rounded-xl;
}
.deliveryTypes {
  @apply flex gap-2 px-2 py-1 rounded-lg w-max;
  background-color: $grey;

  &Item {
    @apply cursor-pointer bg-transparent px-5 py-[6px] rounded-lg;
    transition: all linear 0.25s;
    &.active {
      background-color: $secondary;
      color: #fff;
    }
  }
}