$error: #e22424;
$text: #1D1D1F;
$subText: #686870;
$accent: #00CC2D;
$secondary: #FF6633;


// height
$headerHeight: 80px;
$footerHeight: 70px;
$contentHeight: calc(100vh - $headerHeight - $footerHeight);