@import 'shared/all.scss';

.container {
  @apply flex flex-wrap justify-between items-center;
}

.searchContainer {
  @apply relative my-3;
  width: 300px;
  
  .icon {
    @apply absolute cursor-pointer top-3 left-2 w-7;
  }
  .input {
    @apply pl-12;
  }
}

.tags {
  @apply flex flex-wrap gap-x-2 gap-y-3;
  &Item {
    @apply py-2 px-5 rounded-lg cursor-pointer;
    transition: all linear 0.2s;
    &.active {
      background: $secondary;
      color: #fff;
    }
  }
}