@import "shared/all.scss";

.header {
  @apply fixed top-0 left-0 w-full z-50 bg-white;
  height: $headerHeight;
  &Body {
    @apply h-full flex justify-between items-start;
  }
}

.sFlex {
  @apply flex justify-center items-center my-auto;
}

.logoContainer {
  @apply my-auto;
  .logo {
    height: calc($headerHeight * 0.5);
  }
}
.buttonsContainer {
  @apply flex my-auto gap-2;
}


.links {
  margin-right: calc(10px + 5vmin);
  @apply gap-4;
}