@import 'shared/all.scss';

.news {
  @apply bg-white rounded-xl;
}

.img {
  @apply rounded-t-xl;
  object-fit: cover;
}
.content {
  @apply p-3;
}

.infoBlock  {
  @apply flex justify-between items-center;

  &Tag {
    @apply text-[#686870] py-1 px-2 rounded-md;
    background-color: $grey;
  }

  &Date {
    color: #9e9e9e;
  }
}

.moreBtn {
  color: $accent;
  cursor: pointer;
}

.title {
  @apply text-3xl my-3;
}